<div class="jumbotron">
  <h1>Assignments.</h1>
</div>
<h3>Performance Chart</h3>
<div id="performanceChart"></div>
<div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://github.com/PayanCloudComputing/Assignment0/blob/master/A0_23570.pdf" target="_blank">
        Assignment 0.
      </a>
    </li>
    <li class="list-group-item">
      <a class="disabled">
        Assignment 1.
      </a>
      <span> //Working on it!</span>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/2">
        Assignment 2.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/3">
        Assignment 3.
      </a>
    </li>
  </ul>
</div>
