<div class="header">
  <h1>Assignment 3</h1>
</div>
<div class="assignment">
  <ol>
    <li>
      <b>Create a NodeJS script that will do the following:</b>
      <ul>
        <li>Download the image from s3://cc414-images/scientist.png.</li>
        <li>Check if the metadata key “x-amz-meta-move” of the image is true.</li>
        <li>If true, upload the image to s3://cc414-images/{MATRICULA}/image.png</li>
      </ul>
      <pre>
        <code>  'use strict'; </code>
        <code>  </code>
        <code>  const AWS = require('aws-sdk'); </code>
        <code>  const S3 = new AWS.S3({apiVersion: '2006-03-01'}); </code>
        <code>  const FS = require("fs"); </code>
        <code>  </code>
        <code>  const BUCKET = "cc414-images" </code>
        <code>  const KEY = "scientist.png" </code>
        <code>  </code>
        <code>  var downloadParams = { </code>
        <code>      Bucket: BUCKET, </code>
        <code>      Key: KEY </code>
        <code>  }; </code>
        <code>  </code>
        <code>  S3.getObject(downloadParams, (error, data) => { //Download the image </code>
        <code>      if(error) { </code>
        <code>          console.log(error, error.stack); </code>
        <code>      } </code>
        <code>      else { </code>
        <code>          FS.writeFile("scientist.png",data.Body); //Write the image </code>
        <code>          console.log(data.Metadata); //See the Response Headers </code>
        <code>  </code>
        <code>          var uploadParams = { </code>
        <code>              Bucket: BUCKET + "/23570", </code>
        <code>              Key: KEY, </code>
        <code>              Body: data.Body </code>
        <code>          } </code>
        <code>          //If the header move is true, upload the image </code>
        <code>          if(data.Metadata.move) { </code>
        <code>              S3.putObject(uploadParams, (error, data) => { </code>
        <code>                  if(error) { </code>
        <code>                      console.log(error, error.stack); </code>
        <code>                  } </code>
        <code>                  else { </code>
        <code>                      console.log(data); </code>
        <code>                  } </code>
        <code>              }); </code>
        <code>          } </code>
        <code>      } </code>
        <code>  }); </code>
        <code>  </code>
      </pre>
      <p>
        Source code:
          <a href="https://github.com/PayanCloudComputing/Assignment3/blob/master/handle-image.js" target="_blank">
          handle-image.js</a>
      </p>
    </li>
    <li>
      <b>Create a NodeJS script that will do the following:</b>
      <ul>
        <li>Will get the Nasa Astronomy Picture of the day.</li>
        <li>Save the image in the local file system.</li>
        <li>Print the title of the image.</li>
      </ul>
      <i style="text-align: left">
        Done using documentation at:
        <a href="https://nodejs.org/api/https.html#https_https_get_options_callback" target="_blank">
          https://nodejs.org/api/https.html#https_https_get_options_callback
        </a> and <br/>
        <a href="https://h3manth.com/content/download-images-nodejs" target="_blank">
          https://h3manth.com/content/download-images-nodejs
        </a>
      </i>
      <pre style="font-size: x-small">
        <code>  'use strict'; </code>
        <code>   </code>
        <code>  const HTTPS = require('https'); </code>
        <code>  const FS = require('fs'); </code>
        <code>  const URL = </code>
        <code>    "https://api.nasa.gov/planetary/apod?api_key=ArbO7OpCyOOEpoa5hVgEjPtmIuUVwAuFb6JXhuZG"; </code>
        <code>  const PATH = require('path'); </code>
        <code>   </code>
        <code>  //Getting picture from NASA's API </code>
        <code>  HTTPS.get(URL, (res) => { </code>
        <code>      res.setEncoding('utf8'); </code>
        <code>      let rawData = ''; </code>
        <code>      res.on('data', (chunk) => { </code>
        <code>          rawData += chunk; </code>
        <code>      }); </code>
        <code>      res.on('end', () => { </code>
        <code>        try { </code>
        <code>          const parsedData = JSON.parse(rawData); </code>
        <code>          let hdurl = parsedData.hdurl; </code>
        <code>          let imgName = PATH.basename(hdurl); </code>
        <code>          HTTPS.get(hdurl, (res) => { </code>
        <code>              //Saving picture </code>
        <code>              res.pipe(FS.createWriteStream(imgName)); </code>
        <code>          }); </code>
        <code>          //Printing picture's title </code>
        <code>          if(parsedData.copyright) { </code>
        <code>              console.log("Title: " + parsedData.title + </code>
        <code>              " by " + parsedData.copyright); </code>
        <code>          } </code>
        <code>          else { </code>
        <code>              console.log("Title: " + parsedData.title) </code>
        <code>          } </code>
        <code>        } catch (error) { </code>
        <code>          console.error(error.message); </code>
        <code>        } </code>
        <code>      }); </code>
        <code>  }); </code>
        <code> </code>
      </pre>
    </li>
    <p>Source code:
      <a href="https://github.com/PayanCloudComputing/Assignment3/blob/master/get-apod.js" target="_blank">
        https://github.com/PayanCloudComputing/Assignment3/blob/master/get-apod.js
      </a>
    </p>
    <li>
      <b>Implement Google Analytics in your personal web site</b>
    </li>
    <pre style="font-size: x-small">
      <code>  <!-- Google Analytics --> </code>
      <code>  &lt;script&gt; </code>
      <code>    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){ </code>
      <code>    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g), </code>
      <code>    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r) </code>
      <code>    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); </code>
      <code> </code>
      <code>    ga('create', 'YOUR-CODE-GOES-HERE'); </code>
      <code>    ga('send', 'pageview'); </code>
      <code>  &lt;/script&gt; </code>
    </pre>
    <img class="normal" src="images/google-analytics.png"/>
    <li>
      <b>Read and explain the following article by Martin Fowler:</b><br/>
      <a href="http://martinfowler.com/articles/richardsonMaturityModel.html" target="_blank">
        http://martinfowler.com/articles/richardsonMaturityModel.html</a>
      <div>
        <p>
          Martin Fowler explains in this article a model that helps identify the "restful maturity" of a web-style
          system. After identified, the restful maturity is then categorized with a level, these being the following:
        </p>
        <ul>
          <li>
            <p>
              <b>Level 0</b>
              These web systems use HTTP for remote calls but don't take advantage of any web capabilities. It is
              basically just posting requests to the web system, to one specific endpoint and obtaining responses
              from it. As Fowler says, "It's simple as it's just slinging plain old XML back and forth."
            </p>
          </li>
          <li>
            <p>
              <b>Level 1 - Resources</b>
              As the title says, resources are introduced at this level, so now instead of only posting requests
              to a single endpoint, we now have individual resources. This means that now, we post requests to a
              different endpoint depending on the action desired.
            </p>
          </li>
          <li>
            <p>
              <b>Level 2 - HTTP Verbs</b>
              More HTTP Verbs are introduced at this level beside POST. The interaction process is pretty much the
              same, with the only difference that the purpose of the request is separated depending on what is
              desired. Another difference is that HTTP response codes are used to indicate and categorize errors.
            </p>
          </li>
          <li>
            <p>
              <b>Level 3 - Hypermedia Controls</b>
              This is the final level, where Hypertext As The Engine Of Application State, or HATEOAS for its
              initials, is introduced. This gives the web system the responsibility to return within the response
              a hyperlink to the request.
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <b>Explain why cloud computing is important.</b>
      <p>
        In past years, in order for an idea to become a project, and that project to become a product or a service,
        a lot of investment was required, investment used to build up the needed infrastructure, reason why only
        the companies that were big enough and had enough money to mount this infrastructure were leading
        these projects and providing these products.
      </p>
      <p>
        This is when Cloud Computing comes in and becomes a game changer, because even though the
        infrastructure is still required, it is provided by someone else, somewhere else, thus eliminating the
        investment factor from the equation. This allows more people, and therefore more ideas, to have access
        to the resources required to turn these ideas into something real, something perhaps revolutionary.
      </p>
      <p>
        So, in conclusion, Cloud Computing is important because it provides the resources needed to turn an idea
        into a service or product, being these resources computing power, graphic processing power or incredibly
        high amounts of storage. It revolutionized the way we work today and it considerably lowered the budget
        necessary for our ideas to become something real.
      </p>
    </li>
    <li>
      <b>Explain what would like to change in this class and why.</b>
      <p>
        Without the intention of sounding fawning, I would like to say that this class, along with Database
        Systems, have been so far my favorite classes. The technical sight of the class is that expected of
        a world class education. But even when I might not have complaints about the class, I am concerned
        about something:<br/>
        <ul>
          <li>
            I understand that waiting for every student to understand everything, but I think it is
            slowing the class down; perhaps it is the pace we are supposed to move at, and perhaps I feel
            it is slow because I am learning the same thing at my work, but I fear we won't learn
            everything we are supposed to see in class with enough depth.
          </li>
        </ul>
      </p>
    </li>
  </ol>
</div>
