<div class="jumbotron">
  <h1>Assignments.</h1>
</div>
<h3>Performance Chart</h3>
<div id="performanceChart"></div>
<div>
  <h3>Assignment List.</h3>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#!/assignments/0">
        Assignment 0.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/1">
        Assignment 1.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/2">
        Assignment 2.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/3">
        Assignment 3.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/4">
        Assignment 4.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/5">
        Assignment 5.
      </a>
    </li>
    <li class="list-group-item">
      <a href="#!/assignments/6">
        Assignment 6.
      </a>
    </li>
  </ul>
</div>
